<style>
  .section-title::before,
  .section-title::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #222;
  }
</style>

{%- if section.settings.title != blank -%}
  <div class="mt-[30px]">
    <h3 class="section-title flex items-center justify-center text-2xl font-semibold mx-auto">
      <span class="flex-none mx-4 uppercase">{{ section.settings.title }}</span>
    </h3>
  </div>
{%- endif -%}

{%- if section.settings.collection != blank -%}
  <div class="flex flex-wrap justify-center space-x-4">
    {%- for item in section.settings.products_to_show -%}
      <div class="w-1/4 "></div>
    {%- endfor -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Featured collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "Bộ sựu tập nổi bật"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Danh mục"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 8,
      "label": "Số lượng sản phẩm hiện thị"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Hiện thị show more"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "slider on mobile"
    }
  ]
}
{% endschema %}
