<div class="w-full h-32 bg-gray-200 mt-16"></div>
<div class="w-full max-w-[1200px] mx-auto px-4">
  <div class="flex justify-center">
    <p class="text-gray-600 text-center py-2">
      Copyright © 2021 
      <span class="text-sky-500">test</span> all rights reserved. Powered by Việt Hùng
    </p>
  </div>
</div>