<div class="w-full max-w-[1200px] mx-auto px-4 min-h-[50vh] flex items-center justify-center">
  <div class="flex flex-col text-center">
    <p class="text-5xl lg:text-7xl font-bold">
      {{ 'templates.404.subtext' | t }}
    </p>
    <h1 class="uppercase font-semibold py-3 text-lg">
      SORRY! PAGE YOU ARE LOOKING CAN’T BE FOUND.
    </h1>
    <span class="text-gray-500">
      Go back to the 
      <a href="/" class="ml-1 px-1 font-semibold border-b text-gray-800 border-gray-800 hover:bg-gray-800 hover:text-white">
        homepage
      </a>
    </span>
  </div>
</div>
