<div class="relative w-full h-36">
  <img src="{{ collection.image | img_url: '1500x' }}" alt="" class="absolute w-full h-full top-0 left-0">

  <div class="absolute w-full h-full top-0 left-0 bg-black/50 flex justify-center items-center">
    <div class="inline-block text-white text-center">
      <h1 class="text-2xl font-semibold tracking-wide">{{ collection.title }}</h1>
      <p class="text-sm tracking-wide mt-2">{{ collection.description }}</p>
    </div>
  </div>
</div>
