.badge-new {
  background: #38BDF8;
}

.badge-sale {
  background: #F59E0B;
}

.badge {
  border-radius: 999px;
  padding: 1px 5px;
  color: #fff;
  position: absolute;
  top: calc(50% - 14px);
  right: -5px;
  font-size: 10px;
  transform: translateY(-50%)
}

.img-loading {
  background: linear-gradient(-45deg, #b5b5b5, #f9f9f9, #f9f9f9, #b5b5b5);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	
  }
	100% {
		background-position: 0% 50%;
	}
}